html, body, ul, li, ol,figure,figcaption,dl, dd, dt, p, h1, h2, h3, h4,form, i,img,span,b,strong{ margin:0; padding:0;} 
img {display: block; border:none; } 
address, caption,i,b,h4{ font-style:normal; font-weight:normal; } 
ul, ol { list-style:none; } 
body,html {height:100%; width:100%;	font-family:"microsoft yahei"; background:#fff;}
a { color:#666; text-decoration:none; }
body{font-size:0.16rem;}

.head{
	width:100%;
	height:0.8rem;
	background:#ac25c4;
	
	}
.left a{
	
	color:#FFFFFF;
	margin-left:0.25rem;
	float: left;
	line-height:0.80rem;
	font-size:0.30rem;
}
.right li{
	font-size:0.20rem;
	float:left;
	margin-left:0.60rem;
	line-height:0.80rem;
	
}
.right a{
	color:#FFFFFF;
}

.container h2{
	text-align: center;
	padding-top:0.60rem;
	color:#ac25c4;
	margin-bottom:0.50rem;
}
 /*
         1200px widht 宽屏
        */
        @media screen and (min-width: 1200px) {
            :root {
                background-color: black;
                color: #fff;
                font-size: 100px;
            }
        }

        /*middle */
        @media all and (min-width:981px) and ( max-width: 1199px){
            :root {
                background-color: red;
                color: #fff;
                font-size: 80px;
            }
        }

        /**/
        @media only screen and (min-width: 720px) and (max-width: 

980px){
            :root {
                background-color: yellow;
                color: #fff;
                font-size: 60px;
            }
        }

        @media screen and (max-width:720px ){
            :root {
                background-color: blue;
                color: #fff;
                font-size: 40px;
            }
        }

.con1 img{
	width:2.55rem;
	height:3.00rem;
	margin-top:0.30rem;
	border-radius: 0.05rem;
	margin-left:0.50rem;
	float: left;
	}
.con2 img{
	width:2.55rem;
	height:3.00rem;
	float: left;
	margin-top:0.30rem;
	border-radius: 0.05rem;
	margin-left:0.30rem;
 	}
 
.con3 img{
	width:2.55rem;
	height:3.00rem;
	margin-top:0.30rem;
	border-radius: 0.05rem;
	margin-left:0.50rem;
	float: left;
   	}
  
.con4 img{
	width:2.55rem;
	height:3.00rem;
	float: left;
	margin-top:0.30rem;
	border-radius: 0.05rem;
	margin-left:0.30rem;
	background:red;
 	}	



.footer{
	width:100%;
	height:0.60rem;
	background:#ac25c4;
	margin-top:0.10rem;
}
.foot_list p{
	/*float: left;*/
	color:#FFFFFF;
	text-align: center;
	line-height:0.60rem;
	
}
