html, body, ul, li, ol,figure,figcaption,dl, dd, dt, p, h1, h2, h3, h4,form, i,img,span,b,strong{ margin:0; padding:0;} 
img {display: block; border:none; } 
address, caption,i,b,h4{ font-style:normal; font-weight:normal; } 
ul, ol { list-style:none; } 
body,html {height:100%; width:100%;	font-family:"microsoft yahei"; background:#fff;}
a { color:#666; text-decoration:none; }
body{font-size:0.16rem;}
.head{
	width:100%;
	height:0.8rem;
	background:#ac25c4;
	
	}
.left a{
	
	color:#FFFFFF;
	margin-left:0.25rem;
	float: left;
	line-height:0.80rem;
	font-size:0.30rem;
	
}
.right li{
	font-size:0.20rem;
	float:left;
	margin-left:0.60rem;
	line-height:0.80rem;
	
}
.right a{
	color:#FFFFFF;
}